{% extends "base.html" %}
{% extends "base.html" %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">500. Хьюстон, у нас проблемы!</h1>
        <p>Если тут что-то было, теперь этого тут нет.</p>
        <p>
          Возможно, на сервере произошёл сбой или проводятся кратковременные
          технические работы. Попробуйте обновить страницу сейчас или через пару
          минут.
        </p>
      </div>
    </div>
  </section>
</main>
{% block content %}
{% endblock %}
{% block content %}
{% endblock %}